# ✅ Jupyter артефакты
.ipynb_checkpoints/
notebooks/**/.ipynb_checkpoints/

# ✅ PyTorch чекпоинты и модели
notebooks/checkpoints/
best_models/
*.pth

# ✅ Weights & Biases
notebooks/wandb/

# ✅ Сабмиты
submissions/*.csv

# ✅ Python cache
__pycache__/
*.py[cod]

# ✅ IDE файлы
.vscode/
.idea/

# ✅ Системные файлы macOS
.DS_Store

# ✅ Данные
data/